# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
.coverage*
coverage.xml
htmlcov/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
env3*/

# Environment variables
.env

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Logs
log.txt
*.log

# Build
docs_build/
site_build/
site/
docs.zip
archive.zip

# Jupyter
.ipynb_checkpoints/

# UV
.python-version